[data-theme="dark"] {
  background-color: #171B27 !important;
  color: #fff;

}
[data-theme="dark"] .main{
  background-image: url ("images/5053309.jpg")
}
[data-theme="dark"] .col-lg-3>p{
  color:whitesmoke
}
[data-theme="dark"] .col-lg-3>h2{
  color:whitesmoke
}

[data-theme="dark"] .bg-light {
  background-color: #171B27 !important;
}

[data-theme="dark"] .bg-white {
  background-color: #000 !important;
}

[data-theme="dark"] .bg-black {
  background-color: #eee !important;
}
[data-theme=dark] .skills{
  background-color: #131522 !important;
}
[data-theme=dark] .skill_content{
  box-shadow: black 0px 1px 6px 0px;
  border: 2px black ;
}